$form_bg-color: #333333;
$form_font-size: 18px;
$form_text_color: #DDDDDD;

@mixin border_mixin($border_color: yellow){
    border: 4px solid $border_color;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    min-width: 200px;
    min-height: 200px;
    max-width: 620px;
    font-size: $form_font-size;
    margin: 8px;
    background-color: $form_bg-color;
    @include border_mixin($border_color: #444444);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type='text'].calculator, input[type='submit'].calculator{
    min-width: 100px;
    min-height: 20px;
    max-width: 140px;
    margin: 4px;
    padding: 4px;
    text-align: center;
    color: $form_text_color;
    font-size: inherit;

    @include border_mixin($border_color: #444444);
    border-radius: 8px;
    &:focus{
        @include border_mixin($border_color: #777777);
        outline: none;
    }
    &::placeholder{
        color: $form_text_color;
    }

}
input[type='submit']{
    &:hover{
        cursor: pointer;
    }
}

input[type='submit'].calculator{
    min-width: 200px;
    min-height: 40px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    &:hover{
        opacity: 0.8;
    }
}

input[type='radio']{
    margin: 8px;
}

div.flex_container_horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

div.flex_container_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

div.flex_container_horizontal_item{
    margin: 12px;
}

div.flex_item_left{
    align-self: flex-start;
}


div.radio_element{
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 500px;
}

div.subtext{
    font-size: $form-font-size - 2px;
    padding-left: 8px;
}

div.header_label{
    font-size: $form-font-size + 2px;
}

.calorie_result{
    font-size: $form_font-size;
    span{
        font-weight: bold;
    }
}

a, .link{
    color: #DDDDDD;
    transition: color 0.5s ease-in-out;
    &:hover{
        color: #DDDD00;
    }
}

.filler{
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.header_item{
    margin-left: 24px;
}

.food-image{
    width: 256px;
    height: 144px;
    border-radius: 8px;
}

.food-item{
    background-color: #555555;
    border-radius: 4px;
    width: auto;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px;
}

.food-info{
    text-align: left;
    margin: 12px;
}

.button-add-to-basket{
    margin-top: 16px;
    transition: 0.4s;
    &:active{
        opacity: 0.6;
    }
}

.button-add-template-to-basket{
    margin-top: 4px;
    transition: 0.4s;
    &:active{
        opacity: 0.6;
    }
}

.home_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    margin: 4px;
}

.address_input{
    min-width: 480px;
    min-height: 36px;
    margin: 4px;
    padding: 4px;
    text-align: center;
    color: $form_text_color;
    font-size: $form_font-size + 4px;
    border-radius: 4px;
}

.address_label{
    font-size: $form_font-size + 4px;
}

.order_button{
    margin: 4px;
    padding: 4px;
    text-align: center;
    color: $form_text_color;
    font-size: $form_font-size + 4px;
    min-width: 360px;
    min-height: 44px;
    transition: 0.5s;
    opacity: 1;

    &:hover{
        opacity: 0.8;
    }

    &:active{
        background-color: #555555;
    }

    @include border_mixin($border_color: #444444);
    border-radius: 8px;
    &:focus{
        @include border_mixin($border_color: #777777);
        outline: none;
    }
}

.success_order{
    color: green;
    font-size: $form_font-size + 4px;
}

.success_add_to_basket{
    font-weight: bold;
    text-align: center;
    color: #35c700;
}

.ordered_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4px;
    font-size: $form-font-size + 4px;
    min-width: 400px;
}

.ordered_item_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
    font-size: $form-font-size + 4px;
    background-color: #444444;
    border-radius: 4px;
}

textarea{
    padding: 4px 12px 4px 12px;
    font-size: $form_font-size + 2px;
}

div.order_container{
    margin-top: 24px;
}

.register_form_container{
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 4px;
}

input[type='checkbox']{
    font-size: 20px;
    margin-right: 8px;
}

.checkbox_container{
    align-self: flex-start;
}

.save_calories_result{
    margin-top: 16px;
}

.select_payment{
    min-width: 312px;
    margin-top: 8px;
    font-size: $form_font-size + 2px;
}

.select_payment_item{
    padding: 4px 32px 4px 32px;
    font-size: $form_font-size;
}

.select_payment_label{
    font-size: $form_font-size + 4px;
    margin-top: 8px;
}

.calorie_result_default_text{
    margin-top: 8px;
    font-size: $form_font-size;
}

